body {
    background-color: gray;
    color: white;
    font-family: "Sofia" , sans-serif;
    min-height: 100%;
  }
  img {
    width: 30%;
    height: 300px;
    display: inline;
    margin: 1.5%;
    margin-left: 0;
  }
  .navigation {
    background-color: aqua;
    padding: 0;
    margin: 0;
  }
  .navigation a {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1.5em 0 0;
    margin: 0 1.5em 0 0;
    font-size: 1em;
  }
  .navigation {
    background-color: aqua;
    margin: 0;
    padding: 0;
  }
  .desc {
    font-family: "Trirong";
    font-size: 1em;
  }
  #navigation-bottom a {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1.5em 0 0;
    margin: 0 1.5em 0 0;
    font-size: 1em;
  }
  #title {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    height: 7em;
    padding: 1em 0 0 0;
    margin: 5em 0 5em 0;
  }
  #text {
    width: 50%;
    min-height: 100%;
    padding: 1em;
    margin: auto;
    font-size: 1.5em;
  }
  @media only screen and (max-width: 300px) {
    html {
      background-color: lightblue;
    }
    body {
      background-color: lightblue;
    }
    #text {
      font-size: 0.75em;
    }
  }
  @media only screen and (min-width: 800px) {
    
  }