body {
    font-family: "Montserrat", sans-serif;
}
.title {
    /* background-color: #7CB9E8; */
    text-align: center;
}
.desc {
    font-size: 1.5em;
    text-align: center;
}
.card {
    font-size: 0.8em;
}